<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body style="height:1500px">
<!--img src="/media/cooltext292461773541171.png" alt="image not display" /-->
<img src="/media/1.png" alt="image not display" />
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="index">my Garment shop</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Men's Fashion
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="formal_shirts">Formal shirts</a>
        <a class="dropdown-item" href="#">T-shirts & Polos</a>
        <a class="dropdown-item" href="#">casual shirts</a>
		<a class="dropdown-item" href="#">Jeans</a>
		<a class="dropdown-item" href="#">Sportswear</a>
		<a class="dropdown-item" href="#">jacket</a>
		<a class="dropdown-item" href="#">sweater</a>
		<a class="dropdown-item" href="#">Blazers and coats</a>
		<a class="dropdown-item" href="#">casual pant</a>
		<a class="dropdown-item" href="#">formal pants</a>
		<a class="dropdown-item" href="#">kurtas</a>
		<a class="dropdown-item" href="#">serwani</a>
		
      </div>
    </li>
	<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Women's Fashion
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Clothing</a>
        <a class="dropdown-item" href="#">Western Wear</a>
        <a class="dropdown-item" href="#">Sportswear</a>
		<a class="dropdown-item" href="#">winter cloth</a>
		<a class="dropdown-item" href="#">ethanic wear</a>
		<a class="dropdown-item" href="#">Sportswear</a>
		<a class="dropdown-item" href="#">Kurtas and suit</a>
		<a class="dropdown-item" href="#">Sportswear</a>
		<a class="dropdown-item" href="#">Leggise and salwar</a>
		<a class="dropdown-item" href="#">lehagans and choli</a>
		
      </div>
    </li>
	<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Kids' Fashion
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">t shirts</a>
        <a class="dropdown-item" href="#">shirts</a>
        <a class="dropdown-item" href="#">jeans</a>
		<a class="dropdown-item" href="#">Track pant</a>
		<a class="dropdown-item" href="#">Sweater</a>
		<a class="dropdown-item" href="#">Sportswear</a>
		<a class="dropdown-item" href="#">rompers and sleepwear</a>
		<a class="dropdown-item" href="#">Track pants</a>
		
      </div>
    </li>
	<li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Men's top wear
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Link 1</a>
        <a class="dropdown-item" href="#">Link 2</a>
        <a class="dropdown-item" href="#">Link 3</a>
      </div>
    </li>
	
    
    
	<li class="nav-item">
      <a class="nav-link" href="#">Today big offer</a>
    </li>
	
	<li class="nav-item">
      <a class="nav-link" href="#">login and signup</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="#">My cart</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="aboutus">About us</a>
    </li>
	<li class="nav-item">
      <a class="nav-link" href="#">contact us</a>
    </li>

    <!-- Dropdown -->
    
  </ul>
</nav>
<br>
  

{% block content %}
{% endblock %}
</body>
</html>
