{% extends 'base.html' %}
{% block content %}
<div class="alert alert-info" style="margin-left:25px;margin-right:25px">

<div class="row" style="margin-top:25px">
 <div class="col-sm-12">
   <div class="well" style="text-align:center;">

           <h1 style="text-align:center;color:black">About this project</h1></li><li>
     <ul style="font-size:28px"><li>
       This Project is done by <strong>Sunil Kumar Maurya</strong> under the mentor <strong>Dr R Nageswara Rao sir</strong>
         </li><li>
       This project is a mini - project  , just a model of ecommerce site
           </li><li>
       This website is build on Django version 1.11.9 framework and this site is very dynamic in nature.<br>
     </li><li>  User can add product and delete product and also modify it
       </li>


</ul>
   </div>

 </div>
</div>
<div class="row">
    <div class="col-sm-5">
        <div class="well" style="height:420px">
        <img src="/media/software.png" width="100%">
            </div>
    </div>

    <div class="col-sm-7">
        <div class="alert alert-success">
            <h1 style="text-align:center">  Software which are Required</h1>
        </div>
      <div class="well" style="height:300px">
          <ul style="font-size:25px">
              <li>
                  Python version 3.6
              </li>
              <li>
                  Django version 1.11.9
              </li>
              <li>
                  Sqlite Database
              </li>
              <li>
                  HTML & CSS
              </li>
              <li>
                 Javascript
              </li>
              <li>
                  Bootstrap
              </li>
          </ul>


      </div>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-8">
          <div class="alert alert-success">
          <h1 style="text-align:center">  Function in this project</h1>
        </div>
       <div class="well" style="height:300px">
 <ul style="font-size:25px">
              <li>
                 Email sending in contact us
              </li>
              <li>
                 User login
              </li>
              <li>
                 Add to cart
              </li>
              <li>
                Search the product by search bar
              </li>
              <li>
                Work on MVT
              </li>
              <li>
                  Dynamic website because we can add,delete,modify product
              </li>
          </ul>



       </div>

    </div>
<div class="col-sm-4">
        <div class="well" style="height:420px">
        <img src="/media/vision.png" width="100%" height="380px">
            </div>
    </div>

</div>
</div>
{% endblock %}