<!DOCTYPE html>
<html lang="en">
<head>
  <title>my Garments .com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <style>
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.container {
    position: relative;

}


  </style>
</head>
<body >

<!--img src="/media/cooltext292461773541171.png" alt="image not display" /-->
<!--img src="/media/1.png" alt="image not display" /-->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><p style="color:white;">myGarments</p></a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="{% url 'index' %}">Home</a></li>
	  

	  
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Men's Fashion<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="formal_shirts">Formal shirts</a>
        <li><a class="dropdown-item" href="t_shirt">T-shirts</a></li>
        <li><a class="dropdown-item" href="casual_shirt">casual shirts</a></li>
		<li><a class="dropdown-item" href="jeans1">Jeans</a></li>
		<li><a class="dropdown-item" href="sport_wear">Sportswear</a></li>
		<li><a class="dropdown-item" href="jackets">jacket</a></li>
		<li><a class="dropdown-item" href="sweater_men">sweater</a></li>
		<li><a class="dropdown-item" href="#">Blazers and coats</a></li>
		<li><a class="dropdown-item" href="casual_pant">casual pant</a></li>
		<li><a class="dropdown-item" href="formal_pant">formal pants</a></li>
		<li><a class="dropdown-item" href="kurtas">kurtas</a></li>
		<li><a class="dropdown-item" href="servani">serwani</a></li>
        </ul>
      </li>
	  
	  
	  
	  
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Women's Fashion<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="shari">Shari</a>
        <li><a class="dropdown-item" href="Wester_wear">Western wear</a></li>
        <li><a class="dropdown-item" href="#">Sportswear</a></li>
		<li><a class="dropdown-item" href="#">Winter cloth</a></li>
		<li><a class="dropdown-item" href="#">Ethanic wear</a></li>
		<li><a class="dropdown-item" href="#">Kurtas and suits</a></li>
		<li><a class="dropdown-item" href="#">Leggise and salwar</a></li>
		<li><a class="dropdown-item" href="lehagascholi">Lehagans and choli</a></li>
        </ul>
      </li>
	  
	  
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Kids's Wear<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="tshirtkids">T-shirts</a>
        <li><a class="dropdown-item" href="shirtkid">Shirts</a></li>
		<li><a class="dropdown-item" href="kidsjeans">Jeans</a></li>
		<li><a class="dropdown-item" href="sport_kid">Sportswear</a></li>
		<li><a class="dropdown-item" href="#">jacket</a></li>
		<li><a class="dropdown-item" href="#">sweater</a></li>
		<li><a class="dropdown-item" href="#">Blazers and coats</a></li>
		<li><a class="dropdown-item" href="#">casual pant</a></li>
		<li><a class="dropdown-item" href="#">formal pants</a></li>
		<li><a class="dropdown-item" href="#">kurtas</a></li>
		<li><a class="dropdown-item" href="#">serwani</a></li>
        </ul>
      </li>



	  
	  
	   <li><a href="aboutus">About Us</a></li>
      <li><a href="contactus">Contact Us</a></li>
      
  
    </ul>
	<form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </form>
      <button class="btn btn-danger navbar-btn"><a href="cart1"> My cart</a></button>
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

  

{% block content %}

{% endblock %}


<footer class="container-fluid bg-4 text-center" style="background-color:black; width:100%;height:80px;">
  <p>Bootstrap Theme Made By <a href="127.0.0.1:8000">www.myGarments.com</a></p>
</footer>
</body>
</html>
